{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Photo</th>
                    <th>Quantité</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <td>{{ item.product.name }}</td>
                <td><img src="{{ item.product.photo }}"></td>
                <td>{{ item.quantity }}</td>
                <td>
                    <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm"></a>
                    <i class="fas fa-trash"></i>
                </td>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
            <p>Votre panier est vide!</p>
    {% endif %}
{% endblock %}
