{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <ul>
        <li><a href="{{ path('admin_user_index') }}">Gestion des utilisateurs</a></li>
        <li><a href="{{ path('admin_product_index') }}">Gestion des produits</a></li>
    </ul>
{% endblock %}