@import "~bootstrap/scss/bootstrap";

body {
    background-color: whitesmoke;
}

.jumbotron {
    width: 100%;
}

img {
    width: auto;
}

form {
    padding-left: 10px;
    padding-right: 10px;
}

.btn.btn-lg.btn-primary {
    margin-top: 10px;
}

table {
    width: 100%;
}

.btn.btn-danger.btn-sm {
    width: 20px;
    height: 30px;
    padding: 20px;
}

