{% extends "base.html.twig" %}

{% block header %}
    <header>
        {% include 'navbar.html.twig' %}
    </header>
{% endblock %}

{% block body %}
    <body>
    <div class="jumbotron" style="background-image: url(https://carasaga.com/wp-content/uploads/2018/11/banniere_bijoux_4.jpg); background-size: 100%">
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </body>
{% endblock %}
